.checkButton {
    height: 55px;
}

.signupButton {
    margin-top: 20px;
}
.message {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -1px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.success {
    color: #1b5e20;
}
.error {
    padding-top: 0;
    color: #e02828;
}
