.detailBox {
  
  border-color: black;
  border: solid;
  margin: 5rem;
  display: flex;
  flex-direction: row;
}
.bigBox {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.nutBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #444444;
  border-collapse: collapse;

}
.commentBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.commentDelete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: auto;
}
.commentButton {
  display: flex;
  align-items: center;
    margin-top: 4%;
}

.line {
  margin: 0.5rem 0rem;}