.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #1e2f23;
  padding: 40px 20px;
  border-radius: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;  
  text-align: center;
  font-size: 30px;

}

.box {
  height: 100px;
  line-height: 100px;
  box-shadow: 0 0 5px #2E7D32, 0 0 10px #fff;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}